* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Monserrat', sans-serif;
}

body {
  background: rgb(255,229,229);
  background: linear-gradient(90deg, rgba(255,229,229,1) 0%, rgba(136,138,255,1) 49%, rgba(122,193,207,1) 100%);
}

.content-box {
  display: flex;
  flex-direction: row;
}

.content-img {
  height: auto;
}

.inspiration-quotes {
  padding: 2rem;
  font-size: 2vw;
}

.quote {
  padding-bottom: 1rem;
}

.quote p {
  float: right;
}

.inspiration-quotes li {
  list-style: none;
  padding: 1rem;
}

@media only screen and (max-width: 960px) {
  .content-box {
    display: flex;
    flex-direction: column; 
  }

  .content-img {
    width: 100%;
    height: auto;
  }

  .inspiration-quotes {
    padding: 2rem 3.5rem;
    font-size: 3vw;
  }

  .inspiration-quotes ul {
    padding: 0 1rem;
  }
}
